cloud_id = "super_cloud"
folder_id = "super_folder"
zone = "ru-central1-a"
image_id = "sudper_cloud"
public_key_path = "~/.ssh/appuser1.pub"
subnet_id = "super_subnet"
service_account_key_file = "super_key.json"
private_key_path = "~/.ssh/appuser1"
instances_count = 2
app_disk_image           = "fd8j2p84ercbumeobqa5"
db_disk_image            = "fd8u4fc7vbu5ed992jn0"
name                     = "prod"
storage_access_key       = "acckey"
storage_secret_key       = "seckey"
